<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Page</title>
<link rel="stylesheet"
    href="../../../resources/app/css/styles.css" th:href="@{/resources/app/css/styles.css}">
</head>
</head>

<body>
<div id="wrapper">
    <h3>Login with Username and Password</h3>
    <!--/* (1) */-->
    <div th:if="${param.keySet().contains('error')}"
        th:with="exception=${#request.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')} ?: ${session[SPRING_SECURITY_LAST_EXCEPTION]}">
        <div th:if="${exception != null}" class="alert alert-error">
            <span th:text="${exception.message}"></span><!--/* (2) */-->
        </div>
    </div>
    <form th:action="@{/login}" method="post"> <!--/* (3) */-->
        <table>
            <tr>
                <td><label for="username">User:</label></td>
                <td><input type="text" id="username" name="username" value="demo">(demo)</td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password" value="demo">(demo)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input name="submit" type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>