<html xmlns:th="http://www.thymeleaf.org">
<!--/* omitted */-->
<div id="wrapper">
    <h3>Login Screen</h3>
    <!--/* (1) */-->
    <div th:if="${param.keySet().contains('error')}"
        th:with="exception=${#request.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')} ?: ${session[SPRING_SECURITY_LAST_EXCEPTION]}">
        <div th:if="${exception != null}" class="alert alert-error">
            <span th:text="${exception.message}"></span><!--/* (2) */-->
        </div>
    </div>
    <form th:action="@{/login}" method="post"> <!--/* (3) */-->
        <table>
            <tr>
                <td><label for="username">User:</label></td>
                <td><input type="text" id="username" name="username" value="demo">(demo)</td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password" value="demo">(demo)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><button>Login</button></td>
            </tr>
        </table>
    </form>
</div>
<!--/* omitted */-->